.nav-wrapper {
    max-width: 992px;
    margin: auto;
}
.disabled-hover:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}
.row {
    margin-top: 25px;
}
.nav-wrapper {
    padding: 0 18px;
}
#game-border {
    height: 550px;
    width: 600px;
}
#tetris {
    margin-top: 25px;
}
#score-box {
    height: 100px;
    width: 200px;
}